<div class="card bg-light shadow-sm" id="{{ comment.commenter | slugify }}">
	<div class="card-header">
		<span class="lead">
			<a href="{{ comment.commenter | slugify | prepend: "/commenters/" | relative_url }}">{{ comment.commenter }}</a>
		</span>
	</div>
	<div class="card-body">
		{{ comment.content | markdownify }}
	</div>
	<div class="card-footer">
		<div class="lead">{{ comment.score }} 分</div>
		<div class="float-right">
			{% for tag in comment.tags %}<a class="btn btn-outline-primary" href="{{ tag | slugify | prepend: "/tag/" | relative_url }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}{% endfor %}
		</div>
	</div>
</div>
