---
layout: default
---

<h1>{{ page.name }}</h1>
{% include score.html comments=page.comments %}
<h3>平均得分: {{ score }}</h3>
<ul>
    <li>其他名称: 
        <ul>
        {% for name in page.common_names %} 
            <li>{{ name }}</li>
        {% endfor %}
        </ul>
    </li>
    <li>辅助链接:
        <ul>
    {% for link in page.link %}
        <li>
            <a href='{{ link.link }}'>{{ link.source }}</a>
        </li>
    {% endfor %}
        </ul>
    </li>
    {% if page.meta %}
    <li>其他元信息:
        <ul>
            {% for meta in page.meta %}
            <li>
                {{ meta.name }}: {{ meta.value }}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    <li>评论:
        {% for comment in page.comments %}
        {% include comment.html %}
        {% endfor %}
    </li>
</ul>
