---
layout: default
---

<div class="card bg-light shadow-sm border-info mb-3">
	<div class="card-header text-white bg-info text-center py-3">
		<h1 class="mb-0">{{ page.name }}</h1>
	</div>
	<div class="card-body">
		<dl class="row mb-0">
			<dt class="col-sm-2">其他名称</dt>
			<dd class="col-sm-10">
				{% for name in page.common_names %}
					<p>{{ name }}</p>
				{% endfor %}
			</dd>
			<dt class="col-sm-2">辅助链接</dt>
			<dd class="col-sm-10">
				{% for link in page.link %}
					<p>
						<a href="{{ link.link }}">{{ link.source }}</a>
					</p>
				{% endfor %}
			</dd>
			{% if page.meta %}
				<dt class="col-sm-2">其他元信息</dt>
				<dd class="col-sm-10">
					<dl class="row">
						{% for meta in page.meta %}
							<dt class="col-sm-auto">{{ meta.name }}</dt>
							<dd class="col">{{ meta.value | markdownify }}</dd>
						{% endfor %}
					</dl>
				</dd>
			{% endif %}
		</dl>
	</div>
	<div class="card-footer text-white bg-info text-center">
		{% include score.html comments=page.comments %}
		<span class="lead mb-0">平均得分: <b>{{ score }}</b></span>
	</div>
</div>

{% for comment in page.comments %}
	{% include comment.html %}
{% endfor %}
